*{
    font-family: 'Roboto Mono', monospace;
}
html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('@/assets/img/overlay.svg');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}
#app{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
}